*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font-style {
  font-family: "Inter", sans-serif;
}
/* shared style */
.hamburger{
    visibility: hidden;
}
.container{
    width: 75%;
    max-width: 1590px;
    margin: 0 auto;
}
nav,
nav ul,
#about .milestones,
.the-host,
.img-circle a,
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav,
#about .milestones,
.footer-icons{
    justify-content: space-around;
}

.gradient{

    background:linear-gradient(
        to bottom,

        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%

    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: -1px -1px black,
   -1px -1px black,
    -1px -1px black,
   -1px =1px black;

}
nav .subscribe a,
.hero-text div .spotify{
    background: linear-gradient(

        to right,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
    );
 }
 .subscribe a{
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 1000px;
    text-decoration: none;
    margin-right: 8px;
 }

 h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}

p{
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.techwave-card .card h3,
#featured-episode h3,
.host-info h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
}

.hero-text,
.techwave-card{
    margin-top: 40px;
}

#about .about-heading h2,
.techwave-card .card img,
.techwave-card .card h3,
.host-info h3{
    margin-bottom: 1rem;
}


#about .milestones,
#why-choose-techwave,
#featured-episode,
#meet-the-host{
    padding-bottom: 120px;
}

#why-choose-techwave,
#featured-episode{
    padding-top:120px;
}



 /* main style */
header{
    background-color: rgba(35, 14, 61, 1);
}
/* navbar */
nav{
    padding: 30px 0;
    background-color: #1A0B2E;
}
nav ul{
    gap: 32px;
}
nav ul li{
    list-style-type: none;
 }
 nav ul a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    color: #ffffff;
 }

 /* hero section */
 #hero-banner{
    position: relative;
    margin-top: 1px;

 }
 .hero-bg{
    position: relative;
 }

 .hero-bg img{
    width: 100%;
 }

 .hero-body .icons{
    position: absolute;
    top: 10%;
    left: 40%;
 }
/* animation */
 .badge, .spotify{
    position: relative;
    animation: movingAnimation 2s ease-in-out 10 alternate;
 }

 @keyframes movingAnimation {

    from{
        top: 0;
    }
    to{
        top: 10px;
    }
    
 }

.hero-body .icon{
    width: 250px;
    height: 250px;
}
.badge{
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 1000px;
    padding: 8px 16px;
    top: 8%;
    left: 75%;
    position: absolute;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}


.hero-body .microphone{
    width: 100px;
    height: auto;
    /* background-color: lightgreen; */
    position: absolute;
    left: 30%;
    top: 20%;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 29%;
    text-align: center;
    bottom: 50%;
}

.hero-text h1{
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
}

#transparent-btn{
    color: #00FF88;
    border: 1px solid #00FF88;
}

/* main section */
main{
    background-color: #1A0B2E;
}


/* about section */

#about .about-heading{
    text-align: center;
    padding-top: 50px;

}

#about hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 80px 0;
}

.milestones .card h3{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    text-align: center;  
}
.milestones .card p{
    text-align: center;

}


/* why-choose-techwave */
#why-choose-techwave{
    background-color: #230E3D;
}

.techwave-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 273px);
    gap: 30px;
}

.techwave-card .card{
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.twoRows{
    padding: 100px 40px;
    grid-column: span 1;
    grid-row: span 2;
}
.largeRow{
    padding: 40px;
    grid-column: span 2;
    grid-row: span 1 ;
}
.singlerow{
    padding:0 40px;
    padding-top: 30px;
    grid-column: span 1;
    grid-row: span 1 ;
}


/* featured episode */
.video-card{
    display: flex;
    column-gap: 30px;
    
}
.video-card article{
    background-color: #250D44;
    
    
}
.video-wraper{
    position: relative;
}

.thumbnail img{
    position: absolute;
    transform: translateY(-100%);
}

#featured-episode .video-text{
    margin: 1.5rem;
}
#featured-episode .video-text p{
    margin-top: 12px;
}

#featured-episode .video-text span{
    color: #00FF88;
    
}

#featured-episode .video-wraper iframe,
.thumbnail img{
width: 100%;
height: 100%;
border-radius: 24px 24px 0 0;
}

/* meet the host */
.the-host{
    gap: 24px;
    border-radius: 40px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.host-info h3{
    font-size: 2rem;
}

.host-icons{
    display: flex;
    gap: 8px;
}

.host-icons .img-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533C72;
}
.img-circle a{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
}
.img-circle a img{
    width: 50%;
    height: 50%;
}

/* footer */

.footer-body{
   position: relative;
}
.footer-bg img{
    width: 100%;
}
.footer-info{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    text-align: center;

}

.footer-icons{
    gap: 40px;
    margin: 32px 0;
}
.footer-icons a{
    color: white;
    text-decoration: none;
}

/* responsive till 576px */

@media screen and (max-width:576px){
    body{
        width: 100vw;
    }
    nav ul, nav .subscribe{
        display: none;
    }
    nav .hamburger{
        visibility: inherit;
    }
    nav{
        justify-content: space-between;
        padding: 25px;
    }
    nav h2{
        margin: 0;

    }
    .hero-bg img {
        width: 100vw;
        height: 90vh;
    }
    .hero-body .icons {
        top: 18%;
        left: 30%;
    }
    .hero-body .icon {
        width: 40vw;
        height: auto;
    }
    .badge{
         padding: 6px 12px;
    }

    .hero-body .microphone {
        width: 16vw;
        height: auto;
    }
    .hero-bg .hero-text {
        top: 55%;
        left: 2%;
    }

    

    /* <!-- about section --> */
    #about .milestones{
        /* display: grid;
        grid-template-columns: repeat(2, 120px);
        gap: 20px; */
        flex-wrap: wrap;
        gap: 28px;
    }
    #about hr{
        margin: 40px 0;
    }
    #about .milestones .card{
         width: 45%;
    }
    .milestones .card h3 {
        font-size: 2.7rem;
    }

    /* <!-- why-choose-techwave --> */

    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows {
        padding: 30px 40px;
    }

    /* <!-- featured-episode --> */
    .video-card {
        flex-direction: column;
        row-gap: 24px;
    }
   
    #featured-episode article{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        width: 90vw;
        height: 50vh;
    }
    
    /* <!-- meet the host --> */

    .the-host{
        flex-direction: column;
        text-align: center;
    }
    .host-icons{
    justify-content: center;
    }
    

    /* <!-- footer section --> */

    .footer-info {
        width:100vw;
    }
    .footer-bg img{
        width: 100vw;
        height: 40vh;
        
    }
    footer h2{
        margin-bottom: 24px;
    }
    .footer-icons {
        flex-wrap: wrap;
        width: 255px;
        gap: 16px;
        margin: 25px auto;
        /* margin-bottom: 24px; */
    }
    
    .copyright{
        margin-top: 24px;
    }



/* shared style */
    .container{
        width: 90vw;
        margin: 0 auto;
    }

    h2{
    font-size: 1.9rem;
    /* margin-bottom: 24px; */
    }
    #why-choose-techwave,
    #featured-episode{
        padding-top:60px;
    }

    #about .milestones, #why-choose-techwave, #featured-episode, #meet-the-host {
        padding-bottom: 60px;
    }

}

/* responsive from 577p to 991px */
@media screen and (min-width:577px) and (max-width:991px) {
    
    nav ul, nav .subscribe{
        display: none;
    }
    nav .hamburger{
        visibility: inherit;
    }
    nav{
        justify-content: space-between;
        padding: 25px;
    }
    nav h2{
        margin: 0;

    }
    .hero-bg img {
        width: 100vw;
        height: 100vh;
    }
    .hero-body .icons {
        top: 15%;
        left: 35%;
    }
    .hero-body .icon {
        width: 30vw;
        height: auto;
    }
    .badge{
         padding: 6px 12px;
    }

    .hero-body .microphone {
        width: 12vw;
        height: auto;
    }
    .hero-bg .hero-text {
        top: 60%;
        left: 20%;
    }

    #about .milestones{
        flex-wrap: wrap;
    }
    #about hr{
        margin: 40px 0;
    }
    #about .milestones .card{
         width: 45%;
    }
    .milestones .card h3 {
        font-size: 2.7rem;
    }


    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows {
        padding: 30px 40px;
    }

    .video-card {
        flex-wrap: wrap;
        row-gap: 24px;
    }
     #featured-episode article, .video-card{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        height: 100vh;
    }
    

    .the-host{
        flex-direction: column;
        text-align: center;
    }
    .host-icons{
    justify-content: center;
    }
    

    .container{
        width: 90vw;
        margin: 0 auto;
    }

    h2{
    font-size: 1.9rem;
    }
    #why-choose-techwave,
    #featured-episode{
        padding-top:60px;
    }

    #about .milestones, #why-choose-techwave, #featured-episode, #meet-the-host {
        padding-bottom: 60px;
    }

    .footer-icons {
        gap: 25px;
    }
}

/* responsive from 577p to 991px */
/* @media screen and (min-width:577px) and (max-width:991px) {
    
    nav ul, nav .subscribe{
        display: none;
    }
    nav .hamburger{
        visibility: inherit;
    }
    nav{
        justify-content: space-between;
        padding: 25px;
    }
    nav h2{
        margin: 0;

    }
    .hero-bg img {
        width: 100vw;
        height: 100vh;
    }
    .hero-body .icons {
        top: 15%;
        left: 35%;
    }
    .hero-body .icon {
        width: 30vw;
        height: auto;
    }
    .badge{
         padding: 6px 12px;
    }

    .hero-body .microphone {
        width: 12vw;
        height: auto;
    }
    .hero-bg .hero-text {
        top: 60%;
        left: 20%;
    }

    #about .milestones{
        flex-wrap: wrap;
    }
    #about hr{
        margin: 40px 0;
    }
    #about .milestones .card{
         width: 45%;
    }
    .milestones .card h3 {
        font-size: 2.7rem;
    }


    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows {
        padding: 30px 40px;
    }

    .video-card {
        flex-wrap: wrap;
        row-gap: 24px;
    }
     #featured-episode article, .video-card{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        height: 100vh;
    }
    

    .the-host{
        flex-direction: column;
        text-align: center;
    }
    .host-icons{
    justify-content: center;
    }
    

    .container{
        width: 90vw;
        margin: 0 auto;
    }

    h2{
    font-size: 1.9rem;
    }
    #why-choose-techwave,
    #featured-episode{
        padding-top:60px;
    }

    #about .milestones, #why-choose-techwave, #featured-episode, #meet-the-host {
        padding-bottom: 60px;
    }

    .footer-icons {
        gap: 25px;
    }

    
    
} */
