*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

main{
    width: 70%;
    max-width: 1590px;
    margin: 0 auto;
    /* background-color: #1A0B2E; */
}

#about .about-heading{
    text-align: center;
}
#about .about-heading h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
#about hr{
    margin: 80px 0;
}
#about .milestones{
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;
}


/* why-choose-techwavewhy */
#why-choose-techwave h2{
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}
#why-choose-techwave .techwave-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 225px);
   /* border: 1px solid rebeccapurple; */
    gap: 30px;
    margin-bottom: 120px;
   /* place-items: center; */
}

#why-choose-techwave .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start ;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.towRows{
    grid-column: span 1;
    grid-row: span 2;
}
.largeRow{
    grid-column: span 2;
    grid-row: span 1 ;
}
/* featured episode */
#featured-episode h2{
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;

}
#featured-episode .video-card{
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
} 
/* #featured-episode .video-wraper{
    position: relative;
} */
.thumbnail img{
    position: relative;
    transform: translateY(100%)
}
#featured-episode h3{
    font-size: 1.5rem;
    margin-top: 24px;
    
}


#featured-episode .video-wraper iframe, 
.thumbnail img{
width: 100%;
height: auto;
border-radius: 24px 24px 0 0;
}
#meet-the-host h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;

}

.the-host{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background-color: #1A0B2E;
}
.host-info{
    color: white;
}
.host-icons{
    display: flex;
    gap: 8px;
}

.host-icons .img-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533C72;
}
.img-circle a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-circle a img{
    width: 50%;
    height: 50%;
}

/* footer */
footer{
    margin-top: 120px;
}

.footer-body{
   position: relative;
   background-color: yellowgreen;
}
.footer-bg img{
    width: 100%;
}
.footer-info{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    text-align: center;

}
.footer-info h2{
    color: white;
    font-size: 3.75rem ;
    
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 32px 0;
}
.footer-icons a{
    color: white;
    text-decoration: none;
}
.copyright{
    color: rgba(250, 250, 250, 1);
    font-size: 1rem;
    line-height: 24px;
}