*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1A0B2E; */

}

main{
    
    width: 70%;
    max-width: 1590px;
    margin: 0 auto;
}
.meet-the-host h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;

}

.the-host{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background-color: #1A0B2E;
}
.host-info{
    color: white;
}
.host-icons{
    display: flex;
    gap: 8px;
}

.host-icons .img-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533C72;
}
.img-circle a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-circle a img{
    width: 50%;
    height: 50%;
}

/* footer */
footer{
    margin-top: 120px;
}

.footer-body{
   position: relative;
   background-color: yellowgreen;
}
.footer-bg img{
    width: 100%;
}
.footer-info{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    text-align: center;

}
.footer-info h2{
    color: white;
    font-size: 3.75rem ;
    
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 32px 0;
}
.footer-icons a{
    color: white;
    text-decoration: none;
}
.copyright{
    color: rgba(250, 250, 250, 1);
    font-size: 1rem;
    line-height: 24px;
}