


@media screen and (max-width:576px){
    body{
        width: 100vw;
    }
    nav ul, nav .subscribe{
        display: none;
    }
    nav .hamburger{
        visibility: inherit;
    }
    nav{
        justify-content: space-between;
        padding: 25px;
    }
    nav h2{
        margin: 0;

    }
    .hero-bg img {
        width: 100vw;
        height: 90vh;
    }
    .hero-body .icons {
        top: 18%;
        left: 30%;
    }
    .hero-body .icon {
        width: 40vw;
        height: auto;
    }
    .badge{
         padding: 6px 12px;
    }

    .hero-body .microphone {
        width: 16vw;
        height: auto;
    }
    .hero-bg .hero-text {
        top: 55%;
        left: 2%;
    }

    

    /* <!-- about section --> */
    #about .milestones{
        /* display: grid;
        grid-template-columns: repeat(2, 120px);
        gap: 20px; */
        flex-wrap: wrap;
        gap: 28px;
    }
    #about hr{
        margin: 40px 0;
    }
    #about .milestones .card{
         width: 45%;
    }
    .milestones .card h3 {
        font-size: 2.7rem;
    }

    /* <!-- why-choose-techwave --> */

    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows {
        padding: 30px 40px;
    }

    /* <!-- featured-episode --> */
    .video-card {
        flex-direction: column;
        row-gap: 24px;
    }
   
    #featured-episode article{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        width: 90vw;
        height: 50vh;
    }
    
    /* <!-- meet the host --> */

    .the-host{
        flex-direction: column;
        text-align: center;
    }
    .host-icons{
    justify-content: center;
    }
    

    /* <!-- footer section --> */

    .footer-info {
        width:100vw;
    }
    .footer-bg img{
        width: 100vw;
        height: 40vh;
        
    }
    footer h2{
        margin-bottom: 24px;
    }
    .footer-icons {
        flex-wrap: wrap;
        width: 255px;
        gap: 16px;
        margin: 25px auto;
        /* margin-bottom: 24px; */
    }
    
    .copyright{
        margin-top: 24px;
    }



/* shared style */
    .container{
        width: 90vw;
        margin: 0 auto;
    }

    h2{
    font-size: 1.9rem;
    /* margin-bottom: 24px; */
    }
    #why-choose-techwave,
    #featured-episode{
        padding-top:60px;
    }

    #about .milestones, #why-choose-techwave, #featured-episode, #meet-the-host {
        padding-bottom: 60px;
    }

}



/* responsive from 577p to 991px */
@media screen and (min-width:577px) and (max-width:991px) {
    
    nav ul, nav .subscribe{
        display: none;
    }
    nav .hamburger{
        visibility: inherit;
    }
    nav{
        justify-content: space-between;
        padding: 25px;
    }
    nav h2{
        margin: 0;

    }
    .hero-bg img {
        width: 100vw;
        height: 100vh;
    }
    .hero-body .icons {
        top: 15%;
        left: 35%;
    }
    .hero-body .icon {
        width: 30vw;
        height: auto;
    }
    .badge{
         padding: 6px 12px;
    }

    .hero-body .microphone {
        width: 12vw;
        height: auto;
    }
    .hero-bg .hero-text {
        top: 60%;
        left: 20%;
    }

    #about .milestones{
        flex-wrap: wrap;
    }
    #about hr{
        margin: 40px 0;
    }
    #about .milestones .card{
         width: 45%;
    }
    .milestones .card h3 {
        font-size: 2.7rem;
    }


    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows {
        padding: 30px 40px;
    }

    .video-card {
        flex-wrap: wrap;
        row-gap: 24px;
    }
     #featured-episode article, .video-card{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        height: 100vh;
    }
    

    .the-host{
        flex-direction: column;
        text-align: center;
    }
    .host-icons{
    justify-content: center;
    }
    

    .container{
        width: 90vw;
        margin: 0 auto;
    }

    h2{
    font-size: 1.9rem;
    }
    #why-choose-techwave,
    #featured-episode{
        padding-top:60px;
    }

    #about .milestones, #why-choose-techwave, #featured-episode, #meet-the-host {
        padding-bottom: 60px;
    }

    .footer-icons {
        gap: 25px;
    }

    
    
}

/* responsive from 992px */
/* @media screen and (min-width:993px){



    .hero-body .icons {
        left: 37%;
    }
    .hero-text{
        top: 55%;
        left: 23%;
    }

    
    .techwave-card{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 16px;
    }
    .techwave-card .twoRows, .singlerow {
        padding: 30px 40px;
    }
     
    .video-card {
        flex-wrap: wrap;
        row-gap: 24px;
    }
     #featured-episode article, .video-card{
        border-radius: 0 0 24px 24px;
    }
    #featured-episode .video-wraper iframe,
    .thumbnail img{
        height: 100vh;
    }

    .footer-icons {
        gap: 30px;
    }


} */
